body{
    font-family: Arial, sans-serif;
}

h1{
    color: #333;
    font-size: 36 px;
    text-align: center;
}

#Catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.Catalog{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.Catalog h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.Catalog p{
    margin-bottom: 10px;
}

.Catalog span{
    font-weight: bold;
}